<mat-nav-list  [ngClass]="isSideNav?'nav-sidenav':'nav-toolbar'" >
    <a mat-list-item routerLink="/main" (click)="close()">
        <mat-icon>home</mat-icon>
    </a>
    <a mat-list-item *ngIf="(loggedInUserInput)" routerLink="/new-recipe" (click)="close()">
        <span>Add recipe</span>
    </a>
    <a mat-list-item *ngIf="(loggedInUserInput)" routerLink="/own-recipes" (click)="close()">
        <span>Profil</span>
    </a>
    <a mat-list-item *ngIf="!(loggedInUserInput)" routerLink="/login" (click)="close()">
        <span>Login</span>
    </a>
    <a mat-list-item *ngIf="(loggedInUserInput)" (click)="logout()">
        <ng-container [ngSwitch]="isSideNav">
            <mat-icon *ngSwitchCase="true">logout</mat-icon>
            <span *ngSwitchCase="false">Logout</span>
        </ng-container>
    </a>
</mat-nav-list>