<span class="loading-indicator" *ngIf="loading">
    <mat-spinner ></mat-spinner>
</span>

<div class="notrecipe" *ngIf="!recipes">
    <mat-spinner></mat-spinner>
</div>

<div class="notrecipe" *ngIf="recipes&&recipes.length<=0">
    <div>Nincsenek még receptjeid. Adj hozzá egyet!</div>
    <button mat-raised-button  [routerLink]="'/new-recipe'" color="accent">Új recept</button>
</div>


<ng-container  *ngIf="recipes&&recipes.length>0"  >
    <ng-container *ngFor="let recipe of recipes">

        <mat-card>
            <mat-card-header [routerLink]="'/view-recipe/'+recipe.id"><h1>{{recipe.name}}</h1></mat-card-header>
            <mat-card-content>
                <img *ngIf="recipe.image_id!" [src]="pictures.get(recipe.id)" alt="not good">
                <div>{{recipe.timeInMinutes|minuteToHours}}</div>
                <hr>
                <div>
                    <h2>Hozzávalók</h2>
                    <div class="ingre">

                        <ng-container *ngFor="let ing of recipe.ingredients">
                            <div>{{ing.amount}} {{ing.unit}} {{ing.nameOfIngredient}}</div>
                        </ng-container>
                    </div>
                </div>
                <hr>
                <div>
                    <h2>Lépések</h2>
                    <ng-container *ngFor="let step of recipe.steps;let i = index">
                        
                        <div class="aStep"><app-step-display>{{i+1}}.</app-step-display> <span>{{step.stepDescription }} </span></div>
                    </ng-container>
                </div>
            </mat-card-content>
            <mat-card-actions>
                <button mat-fab routerLink="/new-recipe/{{recipe.id}}"> <mat-icon>edit</mat-icon> </button>
                <button mat-fab color="warn" (click)="deleteRecpie(recipe)"><mat-icon>delete</mat-icon> </button>
            </mat-card-actions>
        </mat-card>
    </ng-container>
</ng-container>
