<span class="loading-indicator" *ngIf="loading">
    <mat-spinner ></mat-spinner>
</span>

<ng-container *ngIf="!recipes">
    <mat-spinner></mat-spinner>
</ng-container>

<ng-container *ngIf="recipes&&recipes.length<=0">
    <div>Nincsenek még receptjeid. Adj hozzá egyet!</div>
    <button mat-raised-button  [routerLink]="'/new-recipe'" color="accent">Add new recipe</button>
</ng-container>


<ng-container  *ngIf="recipes&&recipes.length>0"  >
    <ng-container *ngFor="let recipe of recipes">

        <mat-card>
            <mat-card-header [routerLink]="'/view-recipe/'+recipe.id">{{recipe.name}}</mat-card-header>
            <mat-card-content>
                <img [src]="recipe.image_id!=''?pictures.get(recipe.id):''" alt="not good">
                <div>{{recipe.timeInMinutes|minuteToHours}}</div>
                <hr>
                <div>
                    <p>Hozzávalók</p>
                    <ng-container *ngFor="let ing of recipe.ingredients">
                        <div>{{ing.amount}} {{ing.unit}} {{ing.nameOfIngredient}}</div>
                    </ng-container>
                </div>
                <hr>
                <div>
                    <p>Lépések</p>
                    <ng-container *ngFor="let step of recipe.steps;let i = index">
                        
                        <div><span>{{i+1}}.</span> <span>{{step.stepDescription }} </span></div>
                    </ng-container>
                </div>
            </mat-card-content>
            <mat-card-actions>
                <button mat-fab routerLink="/new-recipe/{{recipe.id}}"> <mat-icon>edit</mat-icon> </button>
                <button mat-fab color="warn" (click)="deleteRecpie(recipe)"><mat-icon>delete</mat-icon> </button>
            </mat-card-actions>
        </mat-card>
    </ng-container>
</ng-container>
