form{
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 90%;

}
.inputs{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.buttons {
    display: flex;
    justify-content: center;
}
.buttons button{
    width: 7em;
    margin: 2vw;
}
.title{
    text-align: center;
    font-size: 30px;
    padding: 30px;
}

@media screen and (max-width:500px) {
    .name-input{
        flex-direction: column;
    }
    .inputs{
        width: 100%;
        
    }
    form{
  
        margin: 15px;
    }

}

@media  screen and (max-height:500px) {
    form{
        margin-top: 50px;
    }
}