mat-sidenav-container{
    height: 100%;
}
mat-sidenav{
    position: fixed;
    height: 100%;
}

mat-toolbar, .toolbar{
    
    background-color: #FFA000;
    color: #6200EA;

    position: sticky;
    top: 0;
    z-index: 1000;
}
mat-sidenav-content{
    display: block;
}


app-menu{
    width: 100%;

}
