<span class="loading-indicator" *ngIf="loading">
    <mat-spinner ></mat-spinner>
</span>

<form [formGroup]="recipeForm" class="recipeform" >
    <mat-form-field>
        <mat-label for="name">A recept neve:</mat-label>
        <input matInput type="text" formControlName="name">
    </mat-form-field>
    <mat-form-field>
        <label for="timeInMinutes">Elkészítés ideje:</label>
        <input matInput type="time" formControlName="timeInMinutes">
    </mat-form-field>
    <div>
        
        <mat-card>
            <mat-card-header>
                <h1 class="leader">Hozzávalók</h1>
            </mat-card-header>
            <mat-card-content >

                <ng-container formArrayName="ingredients">
                    <ng-container *ngFor="let ingred of ingerdients.controls; let i = index">
                        <div formGroupName="{{i}}" class="deleterCenter">

                            <div class="formfields">

                                <mat-form-field subscriptSizing="dynamic" >
                                    <mat-label for="nameOfIngredient">Hozzávaló neve</mat-label>
                                    <input matInput type="text" formControlName="nameOfIngredient"/>
                                </mat-form-field>
                                <mat-form-field subscriptSizing="dynamic">
                                    <mat-label for="amount">Mennyiség</mat-label>
                                    <input matInput type="number" formControlName="amount">
                                </mat-form-field>
                                <mat-form-field subscriptSizing="dynamic">
                                    <mat-label for="unit">Mértékegység</mat-label>
                                    <input matInput type="text" formControlName="unit">
                                </mat-form-field>
                            </div>
                            
                            <button class="deleter" mat-fab color="warn" type="button" (click)="deleteIngredient(i)"><mat-icon>delete</mat-icon></button>
                        </div>
                    </ng-container>
                </ng-container>

            </mat-card-content>
            <mat-card-actions>
                
                <button type="button" mat-fab (click)="addIngredient()"><mat-icon>add</mat-icon></button>
            </mat-card-actions>
        </mat-card>

        <mat-card>
            <mat-card-header>
                <h1 class="leader">Elkészítés lépései</h1>
            </mat-card-header>
            <mat-card-content>

                <ng-container formArrayName="steps">
                    <ng-container *ngFor="let step of steps.controls; let j = index">
                        <div  formGroupName="{{j}}" class="deleterCenterStep">

                            

                            <app-step-display>{{j+1}}.</app-step-display>
                            <mat-form-field subscriptSizing="dynamic">
                                <mat-label for="stepDescription">Lépés leírása</mat-label>
                                <textarea matInput type="text" formControlName="stepDescription"></textarea>
                            </mat-form-field>
                            
                            <button mat-fab type="button" class="deleter" color="warn" (click)="deleteStep(j)"><mat-icon>delete</mat-icon></button>
                            
                        </div>
                    </ng-container>
                </ng-container>
            </mat-card-content>
            <mat-card-actions>
                <button mat-fab type="button" (click)="addStep()"><mat-icon>add</mat-icon></button>
            </mat-card-actions>
        </mat-card>
        <mat-card>
            <mat-card-content>

                <label class="centerlast">{{!baseRecipe?"Picture  of the food:":"Upload picture, if you want to update the current one"}}
                    <input  type="file" formControlName="picture" accept="image/png, image/jpg, image/jpeg" (change)="onFileSelected($event)">
                </label>
            </mat-card-content>
        </mat-card>

        <button class="centerlast" mat-raised-button color="primary" (click)="onSubmit()">Küldés</button>
    </div>
</form> 
